<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Server=f5b5a713-199c-4640-8618-ab0801145d10.sqlserver.sequelizer.com;Database=dbf5b5a713199c46408618ab0801145d10;User Id=owlipekqocoudufa;Password=wLxRzaQSEqpHGqqAZQWGQnB3VR2ZzXsCPwtEzBPGkQWu4YfrWh7A8NriiD4RhXrP;"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
